<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <!--<h1>
    {{ title }}
  </h1>-->


  <nav class="navbar navbar-fixed-top navbar-brand">
    <div class="container-fluid navbar-right">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <!--<a class="navbar-brand" href="#">{{ title }}</a>-->
      </div>
      <div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#section3">Section 3</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#section41">Section 4-1</a></li>
                <li><a href="#section42">Section 4-2</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>    

  <div id="home" class="container-fluid">
    <h1>Alexis DiVincenzo</h1>
    <!--<iframe src="https://open.spotify.com/embed?uri=spotify:user:123142274:playlist:26RjyWj7fPiWF1m4RRdWD2" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>-->
  </div>
  <div id="about" class="container-fluid">
    <h1>About</h1>
  </div>
  <div id="section3" class="container-fluid">
    <h1>Section 3</h1>
  </div>
  <div id="section41" class="container-fluid">
    <h1>Section 4 Submenu 1</h1>
  </div>
  <div id="section42" class="container-fluid">
    <h1>Section 4 Submenu 2</h1>
  </div>
</div>


