<!--The content below is only a placeholder and can be replaced.-->
<div ><!--style="text-align:center"-->
  <div id="home" class="container-fluid">
    <h1>{{ title }}</h1>
    <iframe src="https://open.spotify.com/embed?uri=spotify:user:123142274:playlist:2CsXkdf9bPH5x5zYOwUUvO" width="350" height="400" frameborder="0" allowtransparency="true"></iframe>
  </div>
  <div id="about" class="container-fluid">
    <h1>About</h1>
  </div>
  <div id="education" class="container-fluid">
    <h1>Education</h1>
  </div>
  <div id="section41" class="container-fluid">
    <h1>Section 4 Submenu 1</h1>
  </div>
  <div id="section42" class="container-fluid">
    <h1>Section 4 Submenu 2</h1>
  </div>
  <div id="contact" class="container-fluid">
    <h1>Contact</h1>
    <p>alexisndivincenzo@gmail.com</p>
  </div>
</div>


